.container {
    display: flex;
    flex-direction: column;
    max-height: 960px;
    max-width: 960px;
    flex-shrink: calc();

    

}
.row {
    display: flex;
    flex-direction: row;
    flex-shrink: calc();
    

}

.square {
    height: 24px;
    width: 24px;
    border-style: solid;
    background-color: white;
    border-color: black;
    
}

.button {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    background-color: aqua;
    color: black;
    height: 72px;
    width: 128px;
    padding: 16px;
    border: 48px;
}

